:host {
  mat-card {
    text-align: center;
    width: 40%;

    div {
      padding: 10px;
    }
  }

  h3 {
    text-align: center;
    font-size: 25px;
    color: #3f51b5;
  }

  .figure {
    font-size: 25px;
  }

  .label {
    font-size: 16px;
    color: #3f51b5;
  }
}
