<div fxLayout="column" fxLayoutGap="10px">
  <mat-toolbar color="primary">
    <span>NgRx Demo</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <div fxLayout="column" fxLayoutAlign="center center">
    <app-search></app-search>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50">
      <h3>COVID-19 Stats</h3>
    </div>
    <div fxFlex="50">
      <h3>Deaths Stats</h3>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50">
      <app-covid></app-covid>
    </div>
    <div fxFlex="50">
      <app-deaths></app-deaths>
    </div>
  </div>
</div>
